apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: auth-service-pdb
  namespace: task-management
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: auth-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: tasks-service-pdb
  namespace: task-management
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: tasks-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: api-gateway-pdb
  namespace: task-management
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: api-gateway
